@font-face {
  font-family: 'loginform-icon';
  src: url("../font/loginform-icon.eot");
  src: url("../font/loginform-icon.eot?#iefix") format('embedded-opentype'),
       url("../font/loginform-icon.woff") format('woff'),
       url("../font/loginform-icon.ttf") format('truetype'),
       url("../font/loginform-icon.svg#loginform-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'nouvelle_vague_final';
	src: url('../font/nouvelle_vague_final.ttf');
}

body{
	background: #D8E4E1;
	margin:0;
	padding: 0;
}

.content{
	width: 600px;
	height: 350px;
	margin: 50px auto 10px auto;
}

.login-form{
	width: 400px;
	height: 177px;
	margin: 70px auto 0;
	padding-top: 73px;
	position: relative;
	background:white;
	border:1px solid rgb(216,216,219);
}

.login-form:before{
	content: "";
	position: absolute;
	top:-50px;
	left:100px;
    width:200px;
    height:70px;
    padding:2px;
    border:1px solid rgb(216,216,219);
    background:#fff url(../img/utt.jpg) no-repeat 2px 2px;
}

.login-form div{
	top:-20px;
	width: 230px;
	height: 28px;
	margin:20px auto;
	position: relative;
	line-height: 28px;
	border:none;
}

.title{     
	font-size:140%;
	font-family: 'nouvelle_vague_final', serif;
	margin-bottom: 5px;
	text-align: center;
}


.login-form .user-icon, .login-form .password-icon{
	display: inline-block;
	font-family: 'loginform-icon';
	font-size: 15px;
	text-align: center;
	line-height: 28px;
	color: #D8E4E1;
	position: absolute;
	left: 1px;
	top: 1px;
	background-color: white;
	border:none;
	border-right: 1px solid rgb(229,229,232);
	width: 30px;
	height: 30px;
}

.login-form .username input,
.login-form .password input {
    height:100%;
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(229,229,232);
    display:block;
}

.submit input[type="submit"]{
    font-weight:bold;
    font-size: 15px;
    float:left;
    width:233px;
    height:30px;
    background:#D8E4E1;
	font-family: 'Vollkorn', serif;
	border:0 none;
	border-radius: 8px;
	cursor:pointer;
    position:relative;
}

footer{
	text-align: center;
	font-family: Helvetica
}
footer em{
	font-size: 120%;
	text-decoration:underline;
}
